### Лабораторна робота № 3. Зчитування даних з WEB.

В цій лабораторній роботі необхідно зчитати WEB сторінку з сайту IMDB.com зі
100 фільмами 2017 року виходу за посиланням
«http://www.imdb.com/search/title?count=100&release_date=2017,2017&title_ty
pe=feature». Необхідно створити data.frame «movies» з наступними даними:
номер фільму (rank_data), назва фільму (title_data), тривалість (runtime_data).

В результаті виконання лабораторної роботи необхідно відповісти на запитання:
1. Виведіть перші 6 назв фільмів дата фрейму.
2. Виведіть всі назви фільмів с тривалістю більше 120 хв.
3. Скільки фільмів мають тривалість менше 100 хв.

In [1]:
import pandas as pd
import urllib3
import bs4
from bs4 import BeautifulSoup
http = urllib3.PoolManager()
r = http.request('GET', 'https://www.imdb.com/search/title/?count=100&release_date=2017,2017&title_ty')
r.status
# 200 HTTP Status Codes means OK

200

In [2]:
d = r.data
soup = BeautifulSoup(d, 'html.parser')
sp =soup.prettify()

In [3]:
title =[]
for link in soup.find_all("h3", class_="lister-item-header"):
    
    name = link.get_text()
    title.append(name)

In [4]:
runtime =[]
for link in soup.find_all('span', class_="runtime"):
    name2 = link.get_text()
    runtime.append(name2)

In [5]:
title = list(map(str.strip,title))
runtime = list(map(str.strip,runtime))

In [6]:
df = pd.DataFrame({'Title':title,'Runtime':runtime})
df

                                     Title  Runtime
0           1.\nОповідь служниці\n(2017– )   60 min
1          2.\nПаперовий будинок\n(2017– )   70 min
2           3.\nХороший лікар\n(2017–2021)   41 min
3                      4.\nОзарк\n(2017– )   60 min
4                   5.\nSnowfall\n(2017– )   44 min
..                                     ...      ...
95               96.\nВтікачі\n(2017–2019)   60 min
96            97.\nVår tid är nu\n(2017– )   60 min
97                  98.\nАмнезія\n(2017– )   60 min
98  99.\nВбивство священного оленя\n(2017)  121 min
99                 100.\nRiviera\n(2017– )   60 min

[100 rows x 2 columns]

In [7]:
spec_chars = ["\n","(", ")", ".", "–"]
for char in spec_chars:
    df['Title'] = df['Title'].str.replace(char, ' ')
    
df['Title'] = df['Title'].str.replace('\d+', '')
df

                             Title  Runtime
0            Оповідь служниці        60 min
1           Паперовий будинок        70 min
2                Хороший лікар       41 min
3                       Озарк        60 min
4                    Snowfall        44 min
..                             ...      ...
95                     Втікачі       60 min
96              Vår tid är nu        60 min
97                    Амнезія        60 min
98    Вбивство священного оленя     121 min
99                    Riviera        60 min

[100 rows x 2 columns]

### 1. Виведіть перші 6 назв фільмів дата фрейму.

In [8]:
df.head(6)

                      Title Runtime
0     Оповідь служниці       60 min
1    Паперовий будинок       70 min
2         Хороший лікар      41 min
3                Озарк       60 min
4             Snowfall       44 min
5             Грішники       45 min

### 2. Виведіть всі назви фільмів с тривалістю більше 120 хв.

In [9]:
df['Runtime'] = df['Runtime'].map(lambda x: x.lstrip('+-').rstrip('min'))

In [10]:
df['Runtime'] = df['Runtime'].astype(int)

In [11]:
df[(df['Runtime'] >120)]

                                            Title  Runtime
10                               Тор: Раґнарок         130
14                    Той, хто біжить по лезу          164
21                          Вартові Галактики          136
26                  Дружина доглядача зоопарку         127
31             Людина-павук: Повернення додому         133
32                                  Диво-жінка         141
37                                    Воно  I          135
39                      Назви мене своїм ім'ям         132
40                  Король Артур: Легенда меча         126
41                                  Форма води         123
44                              Чужий: Заповіт         122
45                             Логан: Росомаха         137
52                                   Джон Вік          122
55                                     Форсаж          136
58                                 Метелик  I          133
59                    Красуня і Чудовисько  I          129
65    Пірати Карибського моря: Помста Салазара         129
73                                   Гра Моллі         140
74                                       Мати!         121
77                     Kingsman: Золоте кільце         141
81      Зоряні війни: Епізод  - Останні Джедаї         152
83                                   Знебожені         452
88                     Маестро брехні   TV Movie       133
89                   Saban's Могутні рейнджери         124
91              Валеріан і місто тисячі планет         136
92                Трансформери: Останній лицар         154
98                   Вбивство священного оленя         121

### 3. Скільки фільмів мають тривалість менше 100 хв.

In [12]:
len(df[(df['Runtime'] <100)])

50